// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "color_box";
.container-galerie{
	.view-content .views-row {
		display:inline-block;
		margin:10px;
	}
	.view-content .views-row .field-content img{
		margin-top: 20px;
	}
}
.flexslider{
	-webkit-border-radius: 0;
	        border-radius: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    border:none;
}
.flex-direction-nav a{
	height:45px;
}
.footer{
	border:none;
}
.form-submit{
	margin: 20px auto;
	
}

.views-exposed-form{
	text-align: center;
	width:100%;
	.views-exposed-widget{
		width:100%;
	}
	
	.form-item .form-group{
		display: inline-block;
		margin:10px;
		background-color:#FFF;
		border: 1px solid $blue;
		padding: 5px 10px;
		a{
			text-decoration: none;
			color: $blue;
		}
		&.selected{
			font-weight:bold;
		}
		&::last-child{
			
		}
	}
}
.node h2{
	font-size: $font-size-h1;
	text-decoration: none;
}
.list-inline{
	margin: 10px 0 0 0;
	a{
	text-decoration: none;
		
	}
}
/********************************************/
/**************** MOBILE ********************/
/********************************************/
@media (max-width: $screen-xs) {
    .form-item .form-group{
		width: 100%;
    }
}